<div class="container-fluid">
  <div class="row">
    <div class="top-pic">
      <h1 class="top-pic-word mt-auto">Sauna</h1>
    </div>
  </div>
  <h2 class="text-center mt-3 mb-5">みんなのサウナランキング</h2>
    <div class="container marketing">
      <div class="row text-center">
      
        <% @facilities.each.with_index(1) do |facility, i| %>	
          <div class="col-lg-4">	
            <p><%= i %>位</p><!--- ゆくゆくランキングを表示させるため -->
            <%= attachment_image_tag facility, :image, size:"200x200", fallback: "no-image.jpeg", class:"top-saunas-pic", format: "jpeg"%>
            <h2><%= facility.sauna_name %></h2>
            <p>サウナ室 <%= facility.temperature %>℃</p>
            <p>水風呂 <%= facility.water %>℃</p>
            <p><%= link_to '詳細', facility_path(facility) %></p>
          </div><!-- /.col-lg-4 -->
        <% end %>	

      </div><!-- /.row -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">おすすめサウナ <span class="text-muted">ぜひ紹介してください！</span></h2>
          <p class="lead">全国にはまだまだ知らない世界（サウナ）が沢山あります。ここで是非是非、皆様のおすすめサウナを紹介ください。</p>
        </div>
        <div class="col-md-5">
          <div class="top-pic-recommendation"></div>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">交流掲示板 <span class="text-muted">みんなで交流しよう！</span></h2>
          <p class="lead">サウナ好きの集まり。みんなで気持ちいいい整いを共感しましょう。</p>
        </div>
        <div class="col-md-5 order-md-1">
          <div class="top-pic-board"></div>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">管理人のサウナブログ <span class="text-muted">見てください！</span></h2>
          <p class="lead">管理人の個人的なサウナブログです。『こんなサウナに行ったよ』『サウナについて』また、時にはサウナ以外の記事も投稿します。定期的に頑張って更新しますので是非見てください。</p>
        </div>
        <div class="col-md-5">
          <div class="top-pic-blog"></div>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
    </div><!-- /.container -->
  

  </div>
</div>
