<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-4 mb-4">送信内容確認</h3>
      <div class="form-group">
        <label>名前</label> 
        <span class="form-control  contact-textField"><%= @contact.name %></span>
      </div>
        
      <div class="form-group">
        <label>メールアドレス</label> 
        <span class="form-control  contact-textField"><%= @contact.email %></span>
      </div>
        
      <div class="form-group">
        <label>送信内容</label> 
        <span class="form-control contact-textArea" style="height: 300px;"><%= @contact.message %></span>
      </div>
      
      <%= form_for(@contact) do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <div class="mb-3"><%= f.submit '送信' %></div>
      <% end %>
      <%= form_for @contact, url: back_path do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <div class="mb-5"><%= f.submit '入力画面に戻る' %></div>
      <% end %>
    </div>
  </div>
</div>
