<div class="container">
  <div class="row">
    <div class="topic-form text-center mx-auto mt-4">
      <h1 class="topic-heading">雑談掲示板</h1>
      <h5 class="topic-heading-text">サウナの事でもそれ以外の事でも、皆様の交流掲示板として使ってください。</h5>
      <span>※誹謗中傷禁止　他人の迷惑になる様な投稿はおやめください。</span>

      <% if user_signed_in? %>

      <%= form_with model: @topic, url: topics_path, method: :post ,local:true do |f| %>
        <form class="form-inline my-2 my-lg-0">
          <%= f.text_field :title, class:"mr-sm-2" %>
          <%= f.submit "新規トピックを作成", class:"btn-outline-success my-2" %>
        </form>
      <% end %>
      <%= search_form_for @q do |f| %>
        <form class="form-inline my-2 my-lg-0">
          <%= f.search_field :title_cont, class:"mr-sm-2"  %>
          <%= f.submit "雑談トピックを検索", class:"btn-outline-primary my-2"  %>
        </form>
      <% end %>
    </div>

    <p class="col-12">トピック:<%= @topics.count %>件表示</p>

    <% @topics.each do |topic| %>
      <div class="message-box col-12">
        <%= link_to topic_path(topic) , class:"topics-title" do %>
          <%= topic.title %>
        <% end %>
        <p class="text-right mt-1"><%= topic.created_at.to_s(:datetime_jp)  %></p>
      </div>
    <% end %>

    <% else %>
      <h3 class="text-center mt-5">ログインして雑談に参加しよう！</h3>
      <p>ログインページ => <span><%= link_to "ログイン" ,user_session_path %></span></p>
    <% end %>


  </div>
</div>
