<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/no-image.jpeg" alt="" width="72" height="57">
    <h2>サウナ登録</h2>
    <p class="lead">サウナ施設登録のご協力をよろしくお願い申し上げます。既に登録してある施設名の場合、運営側で削除させて頂きます。<br>
    登録前に『全国のサウナ』で重複データがないかご確認頂き、登録を頂けると幸いです。<br>ご協力のほどよろしくお願い申し上げます。</p>
  </div>

  <%= form_with model: @facility, url: facilities_path, method: :post, local:true do |f| %>	

    <% if @facility.errors.any? %>
      <p class="ml-3" style="color: red;">※ <%= @facility.errors.count %>件のエラーがあります。</p>
    <% end %>

    <div class="col-12">
      <h4 class="mb-3">サウナデータ</h4>
      <form class="needs-validation" novalidate>
        <div class="row g-3">

          <div class="col-12">
            <label class="form-label">施設名</label>
            <div class="input-group has-validation">
              <%= f.text_field :sauna_name, class:"form-control" %>
            </div>
            <div class="feedback" style="color: red;">
              <% if @facility.errors.include?(:sauna_name) %>
                <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:sauna_name).first %>
              <% end %>
            </div>
          </div>

          <div class="col-sm-6">
            <label class="form-label">都道府県</label>
              <%= f.text_field :prefecture, class:"form-control" %>
            <div class="feedback" style="color: red;">
              <% if @facility.errors.include?(:prefecture) %>
                <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:prefecture).first %>
              <% end %>
            </div>
          </div>

          <div class="col-sm-6">
            <label class="form-label">電話番号</label>
            <%= f.text_field :phone_number, class:"form-control" %>
            <div class="feedback" style="color: red;">
              <% if @facility.errors.include?(:phone_number) %>
                <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:phone_number).first %>
              <% end %>
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">郵便番号</label>
            <div class="input-group has-validation">
              <%= f.text_field :postal_code, class:"form-control" %>
            </div>
            <div class="feedback" style="color: red;">
              <% if @facility.errors.include?(:postal_code) %>
                <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:postal_code).first %>
              <% end %>
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">住所</label>
            <div class="input-group has-validation">
              <%= f.text_field :address, class:"form-control" %>
            </div>
            <div class="feedback" style="color: red;">
              <% if @facility.errors.include?(:address) %>
                <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:address).first %>
              <% end %>
            </div>
          </div>

          <div class="col-sm-6">
            <label class="form-label">サウナ室温</label>
            <%= f.text_field :temperature, class:"form-control" %>
            <div class="feedback" style="color: red;">
              <% if @facility.errors.include?(:temperature) %>
                <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:temperature).first %>
              <% end %>
            </div>
          </div>

          <div class="col-sm-6">
            <label class="form-label">水風呂</label>
              <%= f.text_field :water, class:"form-control" %>
              <div class="feedback" style="color: red;">
                <% if @facility.errors.include?(:water) %>
                  <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:water).first %>
                <% end %>
              </div>
          </div>

          <div class="col-sm-6">
            <label class="form-label">価格</label>
              <%= f.text_area :price_description, class:"form-control"  %>
              <div class="feedback" style="color: red;">
                <% if @facility.errors.include?(:price_description) %>
                  <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:price_description).first %>
                <% end %>
              </div>
          </div>

          <div class="col-sm-6">
            <label class="form-label">営業時間</label>
              <%= f.text_field :working_hours, class:"form-control", style:"height: 62px;" %>
              <div class="feedback" style="color: red;">
                <% if @facility.errors.include?(:working_hours) %>
                  <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:working_hours).first %>
                <% end %>
              </div>
          </div>

          <div class="col-sm-6">
            <label class="form-label">ホームページ</label>
              <%= f.text_field :hp, class:"form-control" %>
              <div class="feedback" style="color: red;">
                <% if @facility.errors.include?(:hp) %>
                  <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:hp).first %>
                <% end %>
              </div>
          </div>
           
          <%# 空欄のために記載%>
          <div class="col-sm-6">
            <label class="form-label"></label>
            <div class="invalid-feedback">
            </div>
          </div>
          <%# %>

          <div class="col-md-3 mt-2">
            <label class="form-label">駐車場</label><br>
              <%= f.radio_button :parking, "有" %>
              <%= f.label :parking, "有" %>
              <%= f.radio_button :parking, "無" %>
              <%= f.label :parking, "無" %>
              <div class="feedback" style="color: red;">
                <% if @facility.errors.include?(:parking) %>
                  <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:parking).first %>
                <% end %>
              </div>
          </div>
        </div>

        <hr class="my-4">

        <div>
          <label class="form-label">施設画像</label>
          <p class="image-text">※サウナ詳細ページの画像になります。</p>
          <%= f.attachment_field :image %>
          <div class="feedback" style="color: red;">
            <% if @facility.errors.include?(:image) %>
              <i class="fas fa-exclamation-circle"></i> <%= @facility.errors.full_messages_for(:image).first %>
            <% end %>
          </div>
        </div>

        <hr class="my-4">      
        <%= f.submit 'サウナを登録', class:"btn btn-primary mb-5" %>
      </form>
    </div>
  <% end %>
</div>