<div id="main" class="container-fluid show-body" >
	<div class="row my-card justify-content-center mx-2">
			<div class="col-lg-4 show-photo"><%= attachment_image_tag @facility, :image, size:"500x500", fallback: "no-image.jpeg", class:"card-img-top", format: "jpeg" %></div>
			<div class="col-lg-8 card">
					<h1>Hi there, I'm Jon Snow, King of the North, Ex-commander of the Night's Watch...</h1>

					<div class="d-none d-lg-block">
							<p>Ned Stark's <strike>Bastard</strike> Nephew, Rhaegar Targaryen's son and true heir to the fucking throne. Well, I have many other identities too and you know a couple of them already. Let's save it for another day.</p>

							<h3>Finally, I've realized</h3>
					</div>
					<p>After spending all day chasing the white walkers and all night with my aunt, I'd never make enough time building my own website.</p>

					<p>So, here we are, I've found this free HTML template by <a href="http://creativealiens.com">Creative Aliens </a>to put on my website, that's how at least someone can find me who want's to become an ally. It doesn't matter they are Lanisters or Greyjoys. Who cares?</p>

					<p>Just let 'em send the ravens...</p>
					<a href="mailto:jon@kingslanding.com?subject=Another free HTML template&body=Here's another one page html template I found that might be cool as upcoming website landing page. http://github.com/srizon/LazyStrap" class="btn btn-primary mt-2">Send a Raven</a>

					<h4 class="mt-4">or, keep your eyes on</h4>
					<ul class="social mt-1">
							<li><a href="https://twitter.com/MamunSrizon"><i class="fa fa-twitter " aria-hidden="true"></i></a></li>
							<li><a href="https://github.com/srizon"><i class="fa fa-github" aria-hidden="true"></i></a></li>
							<li><a href="https://dribbble.com/srizon"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					</ul>
			</div>
	</div>
</div>

<table class="table table-sm table-borderless mt-5">
	<tr>
		<td scope="col">サウナ施設画像</td>
		<td scope="col"><%= attachment_image_tag @facility, :image, size:"190x225", fallback: "no-image.jpeg", class:"card-img-top", format: "jpeg" %></td>
	</tr>
	<tr>
		<td>サウナの名前</td>
		<td><%= @facility.sauna_name %></td>
	</tr>
	<tr>
		<td>郵便番号</td>
		<td><%= @facility.postal_code %></td>
	</tr>
	<tr>
		<td>都道府県</td>
		<td><%= @facility.prefecture %></td>
	</tr>
	<tr>
		<td>住所</td>
		<td><%= @facility.address %></td>
	</tr>
	<tr>
		<td>電話番号</td>
		<td><%= @facility.phone_number %></td>
	</tr>
	<tr>
		<td>サウナ室温</td>
		<td><%= @facility.temperature %>℃</td>
	</tr>
	<tr>
		<td>水風呂温度</td>
		<td><%= @facility.water %>℃</td>
	</tr>
	<tr>
		<td>価格</td>
		<td><%= @facility.price_description %></td>
	</tr>
	<tr>
		<td>営業時間</td>
		<td><%= @facility.working_hours %></td>
	</tr>
	<tr>
		<td>ホームページ</td>
		<td><%= @facility.hp %></td>
	</tr>
	<tr>
		<td>駐車場</td>
		<td>
			<% if @facility.parking == "有" %>
			有
			<% else %>
			無
			<% end %>
		</td>
	</tr>
</table>
