<div id="main" class="container-fluid show-body" >
  <div class="row my-card justify-content-center mx-2 mt-5">
    <div class="col-lg-5 show-photo">
      <%= attachment_image_tag @facility, :image, size:"550x550", fallback: "no-image.jpeg", class:"card-img-top", format: "jpeg" %>
    </div>
    <div class="col-lg-7">
      <h1 class="sauna-name"><%= @facility.sauna_name %></h1>

      <table class="table show-table">
        <tr>
          <td class="item">郵便番号</td>
          <td><%= @facility.postal_code %></td>
        </tr>
        <tr>
          <td class="item">都道府県</td>
          <td><%= @facility.prefecture %></td>
        </tr>
        <tr>
          <td class="item">住所</td>
          <td><%= @facility.address %></td>
        </tr>
        <tr>
          <td class="item">電話番号</td>
          <td><%= @facility.phone_number %></td>
        </tr>
        <tr>
          <td class="item">サウナ室温</td>
          <td><%= @facility.temperature %>℃</td>
        </tr>
        <tr>
          <td class="item">水風呂温度</td>
          <td><%= @facility.water %>℃</td>
        </tr>
        <tr>
          <td class="item">価格</td>
          <td><%= simple_format(@facility.price_description) %></td>
        </tr>
        <tr>
          <td class="item">営業時間</td>
          <td><%= @facility.working_hours %></td>
        </tr>
        <tr>
          <td class="item">ホームページ</td>
          <td><%= @facility.hp %></td>
        </tr>
        <tr>
          <td class="item">駐車場</td>
          <td>
            <% if @facility.parking == "有" %>
            有
            <% else %>
            無
            <% end %>
          </td>
        </tr>
      </table>

      <%= link_to '施設情報を編集', edit_facility_path(@facility), class:"btn btn-success float-right" %>

    </div>

    <div class="row mx-3 mt-3">
      <h3 class="col-12">このサウナのレビュー</h3>

      <div class="col-12">
        <div>評判：<span class="average-review-rating" data-score=<%= @average_review %>></span></div>
        <span>※<%= @facility.reviews.count %> 件のレビューに基づく</span>
        <div class="item-review-section mt-5">
      
          <%= render @facilities_review %>
          <div class="mt-2">
            <%= paginate @facilities_review %>
          </div>
          <% if @facility.reviews.empty? %>
            <p>まだこの施設のレビューはありません。<p>
          <% end %>
          <% if user_signed_in? %>
            <div>
              <%= link_to 'レビューを投稿', new_facility_review_path(@facility), class:"btn btn-info mb-5 mt-2" %>
            </div>
          <% end %>
      
          <script>
            $('.review-rating').raty({
              readOnly: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              score: function() {
                return $(this).attr('data-score');
              }
            });
          </script>
          <script>
            $('.average-review-rating').empty(); 
            $('.average-review-rating').raty({
              readOnly: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: function() {
                return $(this).attr('data-score')
              }
            });
          </script>
        </div>
      </div>    
    </div>  
      
  </div>
</div>

