<div class="container">
  <div class="row">
    <div class="col-12 mt-4 text-center">
      <h2 class="user-heading"><%= @user.name %>さんの編集ページ</h2>
      <p>登録情報の編集ができます。</p>
    </div>
    <div class="col-md-12 text-center">
			<%= form_with model: @user, url: user_path(@user), method: :put, local:true  do |f| %>
      <p class="user-item">名前（ニックネームでも可）</p>
      <%= f.text_field :name, class:"user-edit-blank" %>
      <p class="user-item">メールアドレス</p>  
			<%= f.text_field :email, class:"user-edit-blank"  %><br>
			<%= f.submit "保存", class:"btn btn-success mt-2" %>
		 <% end %>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>