  <div class="container">
    <div class="row">
      <h3 class="mb-4 col-12 mt-5" style="color: #D98E04;">パスワードを変更</h3>
   
      <%= form_with model: @user, url: user_change_password_path, method: :patch, local:true do |f| %>
         
        <div class="ml-3">
          <% if @user.errors.any? %>
            <div class="error-explanation mt-4">
              <h3><%= @user.errors.count %> 件のエラーが起きました。 </h3>
              <% @user.errors.full_messages.each do |message| %>
                <ul>
                  <li>・<%= message %></li>
                </ul>
              <% end %>  
            </div>
          <% end %> 
          
          <div class="form-group">
            <%= f.label :current_password, "現在のパスワード", :class => "form-label" %>
            <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
            <div class="small form-text">現在のパスワードを入力ください。(最低6文字)</div>
          </div>
          
            
          <div class="form-group">
            <%= f.label :password, "新しいパスワード", :class => "form-label" %>
            <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
            <% if @minimum_password_length %>
            <div class="small form-text text-muted">最低<%= @minimum_password_length %>文字以上</div>
            <% end %>
          </div>
       
          <div class="form-group">
            <%= f.label :password_confirmation, "新しいパスワード確認", :class => "form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control" %>
          </div>
       
          <%= f.submit '保存', class: "btn btn-success mb-5 mt-3", style:"border-radius: 15px; padding: 5px 40px;" %>
          
        </div>
      <% end %> 
    </div>
  </div> 