<!DOCTYPE html>
<html>
  <head>
    <title>SaunaBaka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">  
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">ホーム <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">SaunaBakaとは？</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              コンテンツ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "みんなのおすすめサウナ", recommendations_path, class:"dropdown-item" %>
              <%= link_to "交流掲示板", topics_path, class:"dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "全国のサウナ", facilities_path, class:"dropdown-item" %>
            </div>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "#{current_user.name}さんのページ", user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link', data: { confirm: "本当にログアウトしますか？" }  %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#exampleModalRight" href="/users/sign_in">ログイン/新規会員登録</a>
            </li>
          <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="キーワード" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
        </form>
      </div>
    </nav>

    <!-- ログイン新規登録Modal -->
    <div class="modal fade drawer right-align" id="exampleModalRight" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">お帰りなさいませ！</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render partial: 'devise/users/sessions/new' %>
            <span class="justify-content-center d-flex mt-3">------------------------------------------------------------</span>
            <%= render partial: 'devise/users/registrations/new' %>
          </div>
        </div>
      </div>
    </div>
    <!-- ログイン新規登録Modal -->  

    <main>
      <% if flash[:notice] %>
        <div class="alert alert-primary text-center mb-0" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger text-center mb-0" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <footer class="contact-form pt-2" style="background-color: #f8f9fa;">
      <div class="container">
        <div class="row">
          <p class="ml-4">© 2021 SaunaBaka.com</p>
        </div>
      </div>
    </footer>
  </body>
</html>